<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action='/add' method="POST"> 
        <input type="text" name="name" required placeholder="Name"><br>
        <input type="email" name="email" required placeholder="Email"><br>
        <input type="password" name="pass1" required placeholder="Password"><br>
        <input type="password" name="pass2" required placeholder="Confirm Password"><br>
        <input type="radio" name="role" value="User" checked>User
        <input type="radio" name="role" value="Admin">Admin <br>
        <button type="submit">SUBMIT</button>

    </form>
</body>
</html>