<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password Form</title>
</head>
<body>
    <form action='/forgetPassword' method="POST"> 

        <h1  >Hello Mr <%= email%><input  type="hidden" name="email" readonly value="<%= email%>"></h1>
        <input type="text" name="pass1" required placeholder="Password"><br>
         <input type="text" name="pass2" required placeholder="Conform Password"><br>
     
        <button type="submit">SUBMIT</button><br><br><br>
    </form>
   
</body>
</html>