<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
  <a href="/logout">  <button>Logout</button></a>
  <a href="/update"> <button>Update Profile</button></a>



  <br><br><br>
  <a href="/createBlog"><button>Create</button></a>  
  <a href="/myBlog"><button>My Blogs</button></a>
  <br><br><br>
  <a href="/blogsPage"><button> Blogs PAGE</button></a>
  
</body>
</html>