<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update</h1>
    <label for="role">Role </label>
    <input type="text" readonly name="role" value="<%= User.role%>"><br><br>
    <label for="email">Email</label>
 <input type="email" name="email" value="<%= User.email%>" readonly><br><br>
 <form action="/update" method="POST">
     <label for="name">Name</label>

     <input type="text" name="name" value="<%= User.name%>" required><br><br>
     <label for="password">Password</label>
    <input type="text" name="password"><br><br>
    <label for="password2">Cornfirm Password</label>
    <input type="text" name="password2"><br><br>
    <button type="submit">UPDATE</button>
</form>
</body>
</html>